@font-face {
    font-family: 'Arial-BoldMT';
    src: url('../fonts/arial-bold/Arial-BoldMT.eot');
    src: url('../fonts/arial-bold/Arial-BoldMT.woff2') format('woff2'),
    url('../fonts/arial-bold/Arial-BoldMT.woff') format('woff'),
    url('../fonts/arial-bold/Arial-BoldMT.ttf') format('truetype'),
    url('../fonts/arial-bold/Arial-BoldMT.svg#Arial-BoldMT') format('svg'),
    url('../fonts/arial-bold/Arial-BoldMT.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial-ItalicMT';
    src: url('../fonts/arial-italic/Arial-ItalicMT.eot');
    src: url('../fonts/arial-italic/Arial-ItalicMT.woff2') format('woff2'),
    url('../fonts/arial-italic/Arial-ItalicMT.woff') format('woff'),
    url('../fonts/arial-italic/Arial-ItalicMT.ttf') format('truetype'),
    url('../fonts/arial-italic/Arial-ItalicMT.svg#Arial-ItalicMT') format('svg'),
    url('../fonts/arial-italic/Arial-ItalicMT.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/Arial-reg/ArialMT.eot');
    src: url('../fonts/Arial-reg/ArialMT.woff2') format('woff2'),
    url('../fonts/Arial-reg/ArialMT.woff') format('woff'),
    url('../fonts/Arial-reg/ArialMT.ttf') format('truetype'),
    url('../fonts/Arial-reg/ArialMT.svg#ArialMT') format('svg'),
    url('../fonts/Arial-reg/ArialMT.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KlavikaMedium-Plain';
    src: url('../fonts/klavika-med/KlavikaMedium-Plain.eot');
    src: url('../fonts/klavika-med/KlavikaMedium-Plain.woff2') format('woff2'),
    url('../fonts/klavika-med/KlavikaMedium-Plain.woff') format('woff'),
    url('../fonts/klavika-med/KlavikaMedium-Plain.ttf') format('truetype'),
    url('../fonts/klavika-med/KlavikaMedium-Plain.svg#KlavikaMedium-Plain') format('svg'),
    url('../fonts/klavika-med/KlavikaMedium-Plain.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/myriadProReg/MyriadPro-Regular.eot');
    src: url('../fonts/myriadProReg/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/myriadProReg/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/myriadProReg/MyriadPro-Regular.ttf') format('truetype'),
    url('../fonts/myriadProReg/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
    url('../fonts/myriadProReg/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../fonts/myriadSem/MyriadPro-Semibold.eot');
    src: url('../fonts/myriadSem/MyriadPro-Semibold.woff2') format('woff2'),
    url('../fonts/myriadSem/MyriadPro-Semibold.woff') format('woff'),
    url('../fonts/myriadSem/MyriadPro-Semibold.ttf') format('truetype'),
    url('../fonts/myriadSem/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg'),
    url('../fonts/myriadSem/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ZurichBT-RomanCondensed';
    src: url('../fonts/ZurichBT/ZurichBT-RomanCondensed.eot');
    src: url('../fonts/ZurichBT/ZurichBT-RomanCondensed.woff2') format('woff2'),
    url('../fonts/ZurichBT/ZurichBT-RomanCondensed.woff') format('woff'),
    url('../fonts/ZurichBT/ZurichBT-RomanCondensed.ttf') format('truetype'),
    url('../fonts/ZurichBT/ZurichBT-RomanCondensed.svg#ZurichBT-RomanCondensed') format('svg'),
    url('../fonts/ZurichBT/ZurichBT-RomanCondensed.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ZurichBT-BoldCondensed';
    src: url('../fonts/ZurichBT-BoldCondensed/ZurichBT-BoldCondensed.eot');
    src: url('../fonts/ZurichBT-BoldCondensed/ZurichBT-BoldCondensed.woff2') format('woff2'),
    url('../fonts/ZurichBT-BoldCondensed/ZurichBT-BoldCondensed.woff') format('woff'),
    url('../fonts/ZurichBT-BoldCondensed/ZurichBT-BoldCondensed.ttf') format('truetype'),
    url('../fonts/ZurichBT-BoldCondensed/ZurichBT-BoldCondensed.svg#ZurichBT-BoldCondensed') format('svg'),
    url('../fonts/ZurichBT-BoldCondensed/ZurichBT-BoldCondensed.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
.gradient{
    background: linear-gradient(rgba(247,244,237,1) 0, rgba(236,230,214,0.3) 17%, transparent 25%) no-repeat;

}
body {
    background: url(../img/body/body.png)repeat;
    margin: 0;

}
input{
    outline: none;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.zurichRom {
    font-family: 'ZurichBT-RomanCondensed';
}

.arial_reg {
    font-family: 'ArialMT';
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover{
    border-bottom: 1px solid ;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 990px;
    margin: auto;
}

#header {
    margin-bottom: 26px;
}

.logo {
    display: inline-block;
    position: relative;
    float: left;
    margin-top: 31px;
    padding-left: 52px;
}
.logo .logoLink{
    color: initial;
    text-decoration: none;
}
.logo img {
    position: absolute;
    top: -11px;
    left: 25px;
}

.logo .logo_Big {
    display: block;
    font-family: 'KlavikaMedium-Plain';
    font-size: 34px;

}

.logo .logo-small {
    display: block;
    position: relative;
    font-family: 'MyriadPro-Semibold';
    font-size: 11px;
    letter-spacing: 1.2px;
    color: #a7a7a7;
    padding-left: 4px;
    margin-top: -2px;
    text-shadow: white 1px 1px 1px;
}

.header_right {
    float: right;
    text-align: right;
    margin-top: 15px;
}

.contact {
    font-family: 'MyriadPro-Regular';
    margin-bottom: 12px;
}

.contact_text {
    font-size: 12px;
    text-shadow: white 1px 1px 1px;
    color: #8b8986;
}

.contact .contact_number {
    font-size: 20px;
    margin-bottom: 13px;
    color: #8b8986;
}
.link_head{
    display: inline-block;
    list-style-type: none;
}
.link_head li{
    display: inline-block;
}
.link_head a {
    font-size: 13px;
    color: #209a28;
    margin-left: 11px;
}
.link_head a:focus{
    color: #197a20;
}

.menu {
    border-radius: 4px;
    background: linear-gradient(to bottom, #62bf3c, #0f941a);
    box-shadow: -1px -1px 1px #0c932f, inset 1px 1px 1px #81de41;
    text-align: -webkit-center;
}
.menu ul {
    display: table;
    width: 100%;
}
.menu li {
    display: table-cell;
    font-family: 'ZurichBT-BoldCondensed';
    font-size: 15px;
    padding: 10px;
    word-spacing: 0.8px;
    vertical-align: middle;
}
.menu li a,
.hiddenMenu a{
    color: white;
    text-shadow: 0 -2px 0 #187b20;
    cursor: pointer;
}
.menu li a:focus{
    color: #E2E2E2;
}
                           /* Burger menu */
.chec-box,
.hiddenMenu{
    display: none;
}


.breadCrumbs {
    font-size: 12px;
    padding: 13px 0 7px 22px;
    text-shadow: #ffffff 1px 1px 1px;
    letter-spacing: 0.6px;
}
.breadCrumbs li{
    display: inline-block;
}

.breadCrumbs a {
    color: #14961c;
}
.breadCrumbs li:nth-child(n+2):before{
    content: ' > ';
}

.center {
    display: table;
    max-width: 988px;
    background-color: #ffffff;
    border: 1px solid #e1dbce;
    border-radius: 4px;
    margin-bottom: 18px;

}
.center .row{
    display: table-row;

}
.center .content {
    display: table-cell;
    vertical-align: top;
    padding-left: 16px;
    max-width: 719px;
}

.center .slider {
    position: relative;
    display: inline-block;
    margin-top: 18px;
    line-height: 0;
}

.center .slider_control {
    position: absolute;
    display: inline-block;
    width: 235px;
    height: 100%;
    box-sizing: border-box;
    background-color: #2f281f;
    color: #ffffff;
    opacity: 0.9;
    top: 0;
    right: 0;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.center .slider_content {
    padding-left: 7%;
    padding-right: 7%;
    line-height: normal;

}

.center .slider_control h4,
.center .slider_control h2 {
    color: #28b028;
}

.center .slider_content p {
    font-family: 'ArialMT';
    font-size: 12px;
    line-height: 18px;
    margin-left: 2px;
    height: 104px;
    overflow: hidden;
}

.center .slider_content h2 {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.center .slider_content h3 {
    font-size: 22px;
    font-weight: lighter;
    padding-top: 17px;
}

.center .slider_content p a {
    font-family: 'ArialMT';
    font-size: 12px;
    font-weight: lighter;
    margin: 2px 0 20px 2px;
    color: #28b028;

}

.center .list_page {
    margin-top: 17px;
    margin-bottom: 30px;
    margin-left: 3px;
    list-style: none;
}

.center .list_page li {
    display: inline-block;
}
.center .slider_content .list_page a {
    display: inline-block;
    text-align: center;
    font-family: 'Arial-BoldMT';
    font-size: 11px;
    background-color: #6b685e;
    padding: 4px 8px;
    margin: 2px 2px 0 2px;
    border-radius: 10px;
    color: #cbcbcb;
    box-shadow: -1px 1px 1px #a7a291;
}
.center .list_page .page a:hover {
    box-shadow: none;
    border: none;
    color: #ffffff;
    background: linear-gradient(to bottom, #6adc47, #1c7c13);
    padding: 6px 10px;
    margin: 0;
    border-radius: 20px;
}
.center h1 {
    font-size: 26px;
    margin-top: 19px;
    margin-bottom: 8px;
    font-weight: lighter;
    letter-spacing: 0.3px;
    color: #444137;
}
.description{
    position: relative;
}

.center .text_undSlid {
    width: 450px;
    position: relative;
    z-index: 5;
    font-size: 12px;
    margin-left: 2px;
    line-height: 20px;
    color: #757168;
}

.center .text_undSlid a {
    font-size: 12px;
    color: #28b028;
    font-weight: bold;
    letter-spacing: 0.6px;
    white-space: nowrap;
    line-height: 20px;
}
.center .foto_men {
    text-align: right;
    position: absolute;
    bottom: -21px;
    right: 61px;
}
.center nav{
    text-align: center;
}
.center .menu_content { /* меню из 3-х пунктов, под слайдером*/
    display: inline-block;
    font-size: 0;
    border: 1px solid #cfcdc5;
    margin-top: 16px;
    margin-bottom: 23px;
    border-radius: 4px;
}

.center .menu_content li { /*Градиент пунктов меню в нормальном положении(не активном)*/
    position: relative;
    display: inline-block;
    background: linear-gradient(to top, #f4f3f1, #ffffff);
}

.center .menu_content .destinat_menu { /* 1-й пункт закр. угл. в нормал. сост.*/
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.center .menu_content li:last-child { /*3-й пункт закр. угл. в нормал. сост.*/
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.center .menu_content a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 65px;
    color: #444137;
}
.center .menu_content a:hover {
    background: linear-gradient(to bottom, #65c03e, #16981d);
    color: #ffffff;
    text-shadow: 0 -2px 1px #207e21;
    box-shadow: inset 1px 1px 0 0 #81de41, -1px -1px 0 0 #0c932f;
    border: none;
}

.center .menu_content .start_point { /*1-й пункт закр. углы в актив. сосот */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.center .menu_content .start_point:before { /*1-й пункт стрелка в ячейке*/
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    top: 16px;
    left: 53px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 6px solid #43ac2d;
}

.center .menu_content .mid_point { /*2-ой пункт размеры*/
    padding: 8px 87px 8px 78px;
}

.center .menu_content .mid_point:before { /*2-ой п-т стрелка в ячейке*/
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    top: 16px;
    left: 67px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 6px solid #43ac2d;
}

.center .menu_content .last_point { /*3-й п-т размеры и закругл. при hover*/
    padding: 8px 80px 8px 62px;
    word-spacing: 1px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.center .menu_content .last_point:before { /*3-й п-т стрелка в ячейке*/
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    top: 16px;
    left: 50px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 6px solid #43ac2d;
}

.center .menu_content li:nth-child(2) { /* 2-й п-т разделитель. черточки по бокам*/
    border-left: 1px solid #cfcdc5;
    border-right: 1px solid #cfcdc5;
}

.center .menu_content a:hover:before { /*треуголник-стр внизу при hover у всех */
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid #0c932f;
    top: 98%;
    left: 47%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.center .destination {
    display: inline-block;
    width: 31%;
    vertical-align: top;
    margin-bottom: 18px;
}

.center .indent {
    margin: 0 14px 19px;
}

.center .destination img {
    border: 4px solid #e9e6df;
    border-radius: 7px;
    margin-bottom: 6px;
}

.center .destination h3 {
    font-size: 14px;
    line-height: 15px;
    margin-left: 3px;
    margin-bottom: 7px;
    font-family: 'Arial-BoldMT';
    color: #3a3731;
}

.center .destination p {
    text-align: left;
    font-size: 12px;
    padding-left: 3px;
    line-height: 18px;
    max-width: 220px;

}

aside {
    display: table-cell;
    width: 249px;
    vertical-align: top;
    background-color: #f4f2ec;
    box-shadow: inset -1px 1px 0 white, inset 1px -1px 0 #e1dbce;
}

aside .side_block {
    position: relative;
    padding-left: 23px;
    padding-bottom: 20px;
    background-color: #f4f2ec;
    box-shadow: inset -1px 1px 0 white, inset 1px -1px 0 #e1dbce;
}

aside .head {
    padding-right: 50px;
}

aside h2 {
    font-family: 'MyriadPro-Regular';
    color: #3f3b30;
    font-size: 14px;
    font-weight: lighter;
    padding-top: 19px;
    margin-bottom: 6px;
}

aside p {
    font-weight: lighter;
    font-size: 12px;
    color: #5f5c53;
    margin-bottom: 13px;
}

aside select {
    width: 197px;
    border-radius: 5px;
    border: 1px solid #cfcdc5;
    box-shadow: 0 0 0 3px #e8e5de, inset 0 -1px 0 0 #ffffff;
    color: #999999;
    margin-left: 2px;
    outline: none;
    background: linear-gradient(to top, #f5f4f2, #ffffff);
    padding: 5px 0 4px 3px;
    font-weight: lighter;
    font-size: 11px;
    margin-bottom: 18px;
}

aside .last_select {
    margin-bottom: 17px;
}

select:hover {
    color: #231f20;
}
.wrapper .rhomb {     /*   Ромб   */
    content: ' ';
    width: 27px;
    height: 27px;
    position: absolute;
    right: 79px;
    top: 6px;
    cursor:pointer;
    background:-webkit-linear-gradient(right bottom, #11951b, #63bf3d);
    background:linear-gradient(to left top, #11951b, #63bf3d);
    border-right: 3px solid #d8d5cc;
    border-top: 3px solid #d8d5cc;
    border-radius: 7px;
    -webkit-transform: translate(50px) rotate(45deg);
    transform: translate(50px) rotate(45deg);
    box-shadow: inset -1px 1px 0 #0e9421;
}
.wrapper .rhomb:active{
    background:-webkit-linear-gradient(left top, #11951b, #63bf3d);
    background:linear-gradient(to right bottom, #11951b, #63bf3d);
}

aside .wrapper {          /*  обертка div   */
    position: relative;
}

.button {                   /*    кнопка Input прозрачная */
    display: inline-block;
    font-family: 'KlavikaMedium-Plain';
    color: white;
    width: 186px;
    margin-top: 1px;
    padding: 9px 27px 9px 0;
    border: 3px solid #d8d5cc;
    border-radius: 7px;
    cursor: pointer;
    font-size: 15px;
    background: -webkit-linear-gradient(bottom, #11951b, #63bf3d);
    background: linear-gradient(to top, #11951b, #63bf3d);
    box-shadow: inset 1px 1px 0 #0c932f, inset 1px 1px 0 1px #81de41;
    text-shadow: 0 -2px 0 #1d7d20;

}
.button:hover{
    border: 3px solid #c7c4bc;
}
.button:active{
    background: -webkit-linear-gradient(top, #11951b, #63bf3d);
    background: linear-gradient(to bottom, #11951b, #63bf3d);
}

aside .wrapper .arrow {          /*  Стрелка   */
    position: absolute;
    right: 62px;
    top: 14px;
    z-index: 5;
}
aside .txt_search {
    font-size: 12px;
    color: #3f3b30;
}

aside input[type="text"],
input[type="email"],
input[type="search"]{
    font-size: 11px;
    color: #666666;
    font-weight: lighter;
    width: 111px;
    padding: 7px 0 4px 6px;
    background: linear-gradient(to top, #f4f3f1, #ffffff);
    margin: 0 7px 5px 2px;
    border-radius: 5px;
    border: 1px solid #cfcdc5;
    box-shadow: 0 0 0 3px #e8e5de;
    box-sizing: content-box;

}
aside input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus{
    border: 1px solid #a6a49d;
    box-shadow: 0 0 0 3px #d2d0c8;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

aside .small_butt {
    font-family: 'KlavikaMedium-Plain';
    font-size: 13px;
    font-weight: lighter;
    color: #ffffff;
    padding: 7px 10px 5px 11px;
    background: linear-gradient(to top, #0e9421, #66c23d);
    box-shadow: 0 0 0 3px #d8d5cc, inset 1px 1px 0 #0c932f, inset 1px 1px 0 1px #81de41;
    border-radius: 5px;
    border: none;
    text-shadow: 0 -2px 0 #1d7d20;
}
aside .small_butt:active{
    background: linear-gradient(to bottom, #0e9421, #66c23d);
}
aside .small_butt:hover{
    box-shadow: 0 0 0 3px #c8c5bd, inset 1px 1px 0 #0c932f, inset 1px 1px 0 1px #81de41;
}
aside .Newsletter_block {
    padding-bottom: 21px;
}

aside .Newsletter_block h2 {
    padding-top: 21px;
    margin-bottom: 3px;
}

aside .Newsletter_block p {
    line-height: 18px;
    margin-bottom: 16px;
}

aside .Newsletter_block .email {
    margin-left: 2px;
    margin-bottom: 13px;
    width: 191px;
    height: 12px;
}

aside article {
    width: 195px;
    padding-left: 1px;
    line-height: 18px;
    margin-bottom: 17px;
}
aside .latest_news{
    padding-left: 23px;
    padding-bottom: 20px;
    background-color: #f4f2ec;
    box-shadow: inset -1px 1px 0 white, inset 1px 0px 0 #e1dbce;
}
aside .latest_news h5 {
    font-family: 'Arial-BoldMT';
    color: #3f3c35;
    font-size: 12px;
    line-height: 18px;
    padding-top: 1px;
}
aside .latest_news h5 a{
    color: inherit;
}
footer .foot_head {
    text-align: center;
}
footer .foot_content .small_device{
    display: none;
}

footer .foot_head {
    font-family: 'Arial-ItalicMT';
    font-size: 16px;
    color: #ffffff;
    background: linear-gradient(to top, #706960, #969185);
    padding: 13px 0 12px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: 1px 1px 0 #3a3632;
    box-shadow: inset 0 -2px #635543;
}

footer .foot_content {
    background-color: #f4f2ec;
    padding-bottom: 19px;
    margin-bottom: 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer .footer_border {
    display: inline-block;
    margin-top: 16px;
    margin-left: 4px;
    border-left: 1px solid #d8d6ce;
    box-shadow: 1px 0 0 white;
    height: 114px;
}

footer h4 {
    font-family: 'KlavikaMedium-Plain';
    font-size: 14px;
    font-weight: lighter;
    color: #7b6d50;
    margin-bottom: 8px;
    margin-left: 6px;
}

footer .foot_block {
    position: relative;
    vertical-align: top;
    display: inline-block;
    padding-left: 21px;
    padding-right: 20px;
    padding-top: 22px;
    color: #757268;
}

footer .social {
    width: 197px;
}

footer .social .bird {
    position: absolute;
    top: 21px;
    right: 20px;
    border: none;
}

footer .social p {
    font-size: 12px;
    line-height: 18px;
    color: #757268;
    width: 190px;
    padding-left: 1px;
}

footer .social p span {
    font-size: 11px;
    padding-left: 3px;
}

footer .wrapper_facebook {
    font-family: 'KlavikaMedium-Plain';
    display: inline-block;
    background: linear-gradient(to top, #736b60, #968f85);
    font-weight: lighter;
    margin-top: 11px;
    margin-left: 0;
    border-radius: 8px;
    border: 3px solid #d6d3cc;
}
footer .wrapper_facebook a{
    color: #ffffff;
    text-decoration: none;
    border: none;
}

footer .txt_facebook {
    display: inline-block;
    font-size: 13px;
    font-weight: lighter;
    padding: 5px 11px 5px 15px;
    margin-right: -3px;
    border: 1px solid #746d63;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: inset 0 1px 0 #b0a59d, 1px 0 0 #958c82;

}

footer .social .icon_face {
    display: inline-block;
    padding: 2px 6px 5px 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #746d63;
    border-left: none;
    box-shadow: inset 0 1px 0 #b0a59d;
}

footer .quick_link {
    vertical-align: top;
    margin-left: 6px;
    padding-left: 17px;
    padding-right: 32px;

}

footer .quick_link h4 {
    margin-left: 0;
}

footer .quick_link a,
.linkColor{
    color: #757268;
}
footer .quick_link .column_link {
    display: inline-block;
    list-style: none;
    vertical-align: top;
    font-size: 12px;
    line-height: 20px;
}

footer .block_column .column_center {
    margin-left: 41px;
}

footer .block_column .column_right {
    margin-left: 47px;
}

footer .foot_contact {
    padding-left: 16px;
}

footer .foot_contact .foot_addres {
    margin-left: 9px;
    margin-top: 11px;
}
footer .foot_contact .foot_addres a {
    display: inline-block;
}
footer .foot_contact .foot_addres a:hover{
    text-decoration: underline;
    border: none;
}
footer .foot_contact .city {
    margin-top: 26px;
}

footer .foot_contact .ari_bold {
    font-family: 'Arial-BoldMT';
    font-size: 12px;
}
footer .foot_contact p,
.linkColor{
    font-size: 12px;
    margin-top: 6px;
}
.underFooter{
    margin-bottom: 25px;
}

.down_ft {
    text-align: center;
    font-family: 'Arial-BoldMT';
    font-size: 11px;
    margin: 10px auto 6px;
    color: #4a4740;
}

.rights_reserv {
    font-size: 11px;
    text-align: center;
    color: #716c61;
    padding-bottom: 50px;
}

@media (max-width: 1017px) {                 /*Media queries*/
    .container {
        width: 97%;
    }

    .center .content {
        width: 72%;
        box-sizing: border-box;
        margin: 0 10px 0 10px;
    }

    .menu li {
        font-size: 13px;
    }

    .center .slider_control {
        width: 35%;
    }

    .center .slider .lion {
        width: 100%;
    }

    .center .slider_content h3 {
        font-size: 17px;
    }

    .center .slider_content h2 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .center .slider_content p {
        font-size: 12px;
        height: 100px;
        line-height: 14px;
    }

    .center .slider_content h4 {
        font-size: 11px;
        margin-bottom: 4px;
    }
    .center .list_page{
        margin-top: 5%;
    }
    .description{
        z-index: 5;
    }
    .center h1{
        font-size: 24px;
    }
    .center .foto_men{
        text-align: right;
        right: 7%;
        z-index: 1;
    }
    .center .foto_men img{
        width: 87%;
    }
    .center .menu_content .public {
        font-size: 15px;
        padding: 9px 54px;
    }
    .center .menu_content .public:before{
        top: 14px;
        left: 41px;
    }
    .center .destination img{
        width: 100%;
        box-sizing: border-box;
    }
    aside {
        width: 25%;
    }

    aside .side_block {
        padding-left: 6%;
    }

    aside select {
        width: 92%;
    }
    aside .button{
        width: 148px;
        font-size: 13px;
        padding-left: 10px;
    }
    aside .wrapper .arrow{
        left: 125px;
        top: 12px;
    }
    .wrapper .rhomb{
        width: 25px;
        height: 25px;
        top: 6px;
        left: 81px;
    }
    aside .Newsletter_block .email{
        width: 160px;
    }
    aside article{
        width: 180px;
    }
    aside .small_butt{
        margin: 5px 10px 0 3px;
    }
    footer .foot_content{
        text-align: center;
    }
    footer .social .bird{
        right: 4px;
    }
    footer .block_column .column_right {
        margin-left: 10px;
    }
    footer .block_column .column_center{
        margin-left: 10px;
    }
    footer .foot_block{
        padding-left: 5px;
        padding-right: 5px;
        margin: 0;
        text-align: initial;
    }
}
@media (max-width: 840px){
    .container{
        width: 99%;
    }
    .logo .logo_Big{
        font-size: 30px;
    }
    .logo .logo-small{
        font-size: 9px;
    }
    .logo img {
        width: 20%;
        top: -12px;
        left: 30px;
    }
    .header_right{
        margin-right: 10px;
    }
    .contact_text{
        font-size: 10px;
    }
    .contact_number{
        font-size: 17px;
    }
    .link_head a{
        font-size: 11px;
    }
    .menu ul li{
        padding: 10px 7px;
    }
    .menu .gorizont_menu .top_nav {
        font-size: 12px;
    }
    .center{
        display: block;
        text-align: center;
    }
    .center .content {
        display: inline-block;
        width: 98%;
        margin: 0 1% 0;
        padding: 0;
        text-align: center;
    }
    .center .slider{
        text-align: initial;
    }
    .center .slider_content p{
        height: 95px;
    }
    .center h1{
        margin-left: 4%;
        text-align: left
    }
    .center .text_undSlid{
        width: 66%;
        text-align: justify;
    }
    .center .foto_men{
        right: 11%;
    }
    aside{
        display: table;
        width: 100%;
        text-align: center;
        float: none;
        background-color: inherit;
        box-shadow: none;

    }
    aside .side_block{
        display: table-cell;
        width: 30%;
        vertical-align: top;
        text-align: initial;
        padding: 0 1% 0;
        box-shadow: inset -1px 1px 0 #e1dbce, inset 1px -1px 0 #e1dbce;

    }
    aside .wrapper{
        font-size: 12px;
        padding-right: 11px;
        width: 125px;

    }
    .wrapper .rhomb {
        width: 25px;
        height: 25px;
        top: 6px;
        left: 81px;
    }
    aside .small_butt{
        font-size: 11px;
    }
    aside .small_form{
        text-align: left;
        margin-bottom: 10px;
    }
    aside .head{
        padding: 0;
    }
    aside .Newsletter_block .email {
        width: 85%;
    }
    aside article {
        width: 95%;
    }
    footer .foot_content .big_device{
        display: none;
    }
    footer .footer_border{
        margin-left: 10px;
        margin-right: 10px;
    }
    footer .foot_content .small_device{
        display:inline-block;
        margin-top: 15px;
    }
    footer .foot_block p{
        font-size: 14px;
    }
    footer .foot_block .bird{
        right: -5px;
    }
    footer .foot_block h4{
        font-size: 15px;
    }
    footer .quick_link .column_link{
        font-size: 14px;
    }
}
@media (max-width: 600px){
    .container{
        overflow: hidden;
        width: 100%;
    }
    header{
        text-align: center;
    }
    .logo{
        float: none;
        padding-left: 0;
        padding-top: 20px;
    }
    .logo img {
        width: 23%;
        top: 8px;
        left: -18px;
    }
    .header_right {
            margin-right: 0;
            float: none;
            text-align: inherit;
    }
    .headerNavigat{
        position: relative;
    }
    .gorizont_menu li {
        display: none;
    }
    .breadCrumbs{
        width: 70%;
    }
    .burger{               /* Button burger menu*/
        display: block;
        position: absolute;
        cursor: pointer;
        padding: 7px 25px 10px 0;
        margin-top: 5px;
        margin-right: 25px;
        transition: top 2.5s;
        right: 0;
        bottom: 5px;
    }
    .burger span,
    .burger span:after,
    .burger span:before{
        content: ' ';
        display: block;
        position: absolute;
        background-color: #0f941a;
        width: 25px;
        height: 4px;
    }
    .burger span:before{
        top: -6px;
        right: 0;
    }
    .burger span:after{
        bottom: -6px;
        right: 0;
    }
    .hiddenMenu{                   /*BURGER MENU*/
        display: block;
        position: absolute;
        list-style: none;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        background: linear-gradient(to bottom, #62bf3c, #0f941a);
        box-shadow: -1px -1px 1px #0c932f;
        font-size: 14px;
        height: auto;
        top: -190px;
        text-align: center;
        transition: top 2.5s;
        z-index: 2;
    }

    .hiddenMenu .burNav{
        padding: 2px 0 2px;
    }
    .breadCrumbs{
        transition: padding 2.5s;
    }
    .chec-box:checked ~ .hiddenMenu{
        top: 0;
    }
    .chec-box:checked ~ .breadCrumbs{
        padding-top: 190px;
    }
    .center{
        border-left: 0;
        border-right: 0;
    }
    .center .slider_content h3 {
        font-size: 13px;
        padding-top: 3px;
    }
    .center .slider_content h2 {
        font-size: 18px;
        margin-bottom: 3px;
    }
    .center .slider_content p {
        font-size: 9px;
        height: 101px;
        line-height: 13px;
    }
    .center .slider_content h4 {
        font-size: 9px;
        margin-bottom: 6px;
    }
    .center .slider_content .list_page,
    .foto_men img{
        display: none;
    }
    .center h1{
        display: inline-block;
        margin-left: 0;
    }
    .center .text_undSlid {
        width: 300px;
        display: inline-block;
    }
    .center .menu_content .public{
        font-size: 13px;
        padding: 9px 15px;
    }
    .center .public:before{
        display: none;
    }
    .center .destination{
        width: auto;
        margin-left: 14px;
        margin-right: 14px;
    }
    aside{
        display: inline-block;
    }
    aside .side_block{
        display: inline-block;
        width: 50%;
        padding: 0 25% 0;
    }
    aside .wrapper{
        font-size: 13px;
        padding-right: 31px;
        width: 126px;
    }
    .wrapper:after{
        left: 100px;
        width: 26px;
        height: 26px;
    }
    footer .foot_head{
        padding-right: 8px;
        line-height: 23px;
        font-size: 14px;
    }
    footer .foot_block p,
    footer .quick_link .column_link {
        font-size: 12px;
    }
}
@media (max-width: 429px ) {
    .center .slider_control{
        display: none;
    }
    .center .text_undSlid{
        text-align: center;
        width: 80%;
    }
    .center h1{
        font-size: 20px;
    }
    footer .foot_content .small_device,
    footer .footer_border{
        display: none;
    }
    footer .foot_content .big_device+ .big_device{
        display: block;
    }
    footer .foot_block{
        width: 200px;
        margin: 15px auto;
        padding-top: 0;
    }
    footer .foot_block .bird{
        top: 0;
    }
    .foot_content .quick_link .block_column .column_link{
        margin-left: 10px;
        margin-top: 10px;
    }
    footer .quick_link h4 {
        margin-left: 6px;
    }


}




