@font-face {
  font-family: 'ArialMT';
  src: url('ArialMT.eot');
  src: url('ArialMT.woff2') format('woff2'),
       url('ArialMT.woff') format('woff'),
       url('ArialMT.ttf') format('truetype'),
       url('ArialMT.svg#ArialMT') format('svg'),
       url('ArialMT.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

