@font-face {
  font-family: 'Arial-BoldMT';
  src: url('Arial-BoldMT.woff') format('woff'),
       url('Arial-BoldMT.ttf') format('truetype'),
       url('Arial-BoldMT.svg#Arial-BoldMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arialbd';
  src: url('arialbd.eot');
  src: url('arialbd.woff2') format('woff2'),
       url('arialbd.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

