@font-face {
  font-family: 'Arial-ItalicMT';
  src: url('Arial-ItalicMT.woff') format('woff'),
       url('Arial-ItalicMT.ttf') format('truetype'),
       url('Arial-ItalicMT.svg#Arial-ItalicMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ariali';
  src: url('ariali.eot');
  src: url('ariali.woff2') format('woff2'),
       url('ariali.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

