@font-face {
  font-family: 'ZurichBT-BoldCondensed';
  src: url('ZurichBT-BoldCondensed.eot');
  src: url('ZurichBT-BoldCondensed.woff2') format('woff2'),
       url('ZurichBT-BoldCondensed.woff') format('woff'),
       url('ZurichBT-BoldCondensed.ttf') format('truetype'),
       url('ZurichBT-BoldCondensed.svg#ZurichBT-BoldCondensed') format('svg'),
       url('ZurichBT-BoldCondensed.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

