@font-face {
  font-family: 'KlavikaMedium-Plain';
  src: url('KlavikaMedium-Plain.eot');
  src: url('KlavikaMedium-Plain.woff2') format('woff2'),
       url('KlavikaMedium-Plain.woff') format('woff'),
       url('KlavikaMedium-Plain.ttf') format('truetype'),
       url('KlavikaMedium-Plain.svg#KlavikaMedium-Plain') format('svg'),
       url('KlavikaMedium-Plain.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

