@font-face {
  font-family: 'ZurichBT-RomanCondensed';
  src: url('ZurichBT-RomanCondensed.eot');
  src: url('ZurichBT-RomanCondensed.woff2') format('woff2'),
       url('ZurichBT-RomanCondensed.woff') format('woff'),
       url('ZurichBT-RomanCondensed.ttf') format('truetype'),
       url('ZurichBT-RomanCondensed.svg#ZurichBT-RomanCondensed') format('svg'),
       url('ZurichBT-RomanCondensed.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

